@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron:wght@800&display=swap');

body{
    background:black;
    color:#FFF;
    font-size:20px;
    height: 100vh;
    text-align: center;
    justify-content: center;

}

#root-date{
    font-size:60px;
    height:100px;
    width:100%;    
    display: flex;
    justify-content:flex-end;
    place-items: center;
}
#container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    place-items: center;
    height:80vh;
}
#mouse{
    width: 20%;
}


#timer{
    font-size:100px;
    font-family: 'Orbitron', sans-serif;
}
#r_nv{
    width: 20%;
}

#mouse .mmove{
    display: flex;
    font-family: 'Monoton', cursive;
    justify-content:center;
    place-items: center;
    font-size: 40px;
    transform: rotate(90deg);
    letter-spacing: 5px;
    min-width: 500px;
}

.finance{
    width:100%;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.rate{
    width: 150px;
    height:100px;
    display: flex;
    justify-content:space-evenly;
    place-items: center;
    border:1px solid #FFF;
    border-radius: 5px;
    margin-top: 2px;
}

.mgn{
    display: flex;
    justify-content:space-evenly;
}

#curr_cov{
    display: flex;
    justify-content: center;
    place-items: center;
}